<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link <% if (active === 'main') { %>active<% } %>" aria-current="#" href="/">Home Cloud</a>
    </li>

    <li class="nav-item">
      <a class="nav-link <% if (active === 'fotogal') { %>active<% } %>" href="fotogal" aria-current="#">Просмотр фотографий</a>
    </li>
  </ul>