<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <style>
            body {
                background-color: bisque;
            }
            .content {
                
                margin-left: 100px;
            }
            .hed {
                background-color: darkorange;
                margin: 0px;
            }
            
            .parag{
                color: white;
                background-color: black;
            }
            .text {
                color: black;
            }
            
            .text1 {
                color: rgb(90, 90, 90);

            
            }
        </style>
    </head>
    <body>
        <%- include('./partials/navbar') %>
        <div class="content">
            <h1>Aliaksanr Shabanovich</h1>
            <div class="hed">
                
                <img src="/Avatar.jpg" alt="Avatar" width="300">
                <text>Junior Web Developer</text>
            </div>    
            <br>
           
        
            <div class="parag">
                <p1>Details</p1>
            </div>
                <div class="text">
                    <p>Molodechno, Belarus<br>
                    <a href="mailto:alexandrshab.gmail.com">e-mail: alexandrshab.gmail.com</a><br>
                    +375 29 60 80 437
                    </p>
                </div>
            <div class="parag">
                <p1>Employment History</p1>
            </div>
                <div class="text">
                    <p>Design radio-engineer, radio factory "Sputnik", Molodechno
                        <div class="text1">
                            <text1> August 2002 - August 2004<br>Design radioelectronic equipment</text1>
                        </div>
                    </p>
                    
                    <p>Individual entrepeneur, Shavanovich Victoria, Molodechno
                        <div class="text1">
                            <text1> March 2002 - May 2004 Power tools and construction materials trading</text1>
                        </div>
                    </p>
                    <p>Secuirity guard, Gazprom transgaz Belarus, Molodechno
                        <div class="text1">
                            <text1> March 2016 - ...<br>Here I have time for coding :)</text1>
                        </div>
                    </p>
                </div>
                <div class="parag">
                    <p1>Education</p1>
                </div>
                    
                    <div class="text">
                        <p>Design radio-engineer, Belarussian State University of Informatic and Radioelectronic
                            <div class="text1">
                                <text1>1997 - 2002<br>Computer-added design radioelectronic equipment</text1>
                            </div>
                        </p>
                    </div>
                    <div class="parag">
                        <p1>Skils</p1>
                    </div>
                    <ul>
                        <li>
                            <div class="text">
                                <p>Java Script
                                    <div class="text1">
                                       <text1></text1>
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text">
                                <p>HTML/CSS
                                    <div class="text1">
                                        <text1></text1>
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text">
                                <p>Node.js
                                    <div class="text1">
                                        <text1></text1>
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text">
                                <p>MySQL
                                    <div class="text1">
                                        <text1></text1>
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text">
                                <p>Git
                                    <div class="text1">
                                        <text1></text1>
                                    </div>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="parag">
                        <p1>Languages</p1>
                    </div>
                    <ul>
                        <li>
                            <div class="text">
                                <p>English
                                    <div class="text1">
                                        <text1><progress max="100" value="70" style="color: black"> 70% </progress></text1>
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text">
                                <p>German
                                    <div class="text1">
                                        <text1><progress max="100" value="60" style="color: black"> 60% </progress></text1>
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text">
                                <p>Belarussian
                                    <div class="text1">
                                        <text1><progress max="100" value="100" style="color: black"> 100% </progress></text1>
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text">
                                <p>Russian
                                    <div class="text1">
                                        <text1><progress max="100" value="100" style="color: black"> 100% </progress></text1>
                                    </div>
                                </p>
                            </div>
                        </li>
                        
                    </ul>
                    <div class="parag">
                        <p1>Links</p1>
                    </div>
                        <div class="text">
                            <p><a href="https://t.me/alexandershab">My Telegram account</a><br>
                            </p>
                        </div>
                        <div class="parag">
                            <p1>My Telegram Projects</p1>
                        </div>
                            <div class="text">
                                <p>
                                <a href="https://t.me/bytopbot">Statistic Telegram bot</a><br>
                                <a href="https://t.me/ModerTop_bot">Moderator bot for Telegram groups </a><br>
                                <a href="https://t.me/SertSale_bot">Sertification company Telegram bot</a><br>
                                </p>
                            </div>
        </div>
</body>
</html>